.navbar{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 12px 0 10px 0;
}

.navbar .logo{
    padding: 7px 0;
    width: 180px;
}

.nav-list{
    margin-top: 18px;
    display: flex;
    gap: 1.5vw;
}

.navlink{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navlink p{
    color: #000;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.navlink hr{
    margin-top: 5px;
    display: none;
    width: 50%;
    color: grey;
}

a.active hr{
    display: block;
}

.nav-icons{
    display: flex;
    gap: 2vw;
    padding: 18px 0;
}

.nav-icons img{
    height: 20px;
    width: 20px;
}

.user-option{
    margin-left: -110px;
    width: 100px;
    position: absolute;
    display: none;
    background-color: #e7eaee;
    line-height: 15px;
    padding: 0 15px;
    border-radius: 5px;
}

.user-option p{
    color: #5f5c5c;
}

.user-option p:hover{
    color: #000000;
    font-weight: 600;
}

.user-option.active{
    display: block;
}

.cart{
    position: relative;
}
.cart p{
    font-size: 8px;
    font-weight: 600;
    color: #fff;
    border-radius: 50%;
    padding: 3px;
    background-color: #000000;
    position: absolute;
    right: -5px;
    bottom: -5px;
}

.menu-icon{
    display: none;
}

.sidebar{
    display: none;
    position:absolute;
    background-color: #fff;
    right: 0;
    height: 100vh;
    bottom: 0;
    width: 100vw;

}

.sidebar.active{
    position:absolute;
    background-color: #fff;
    right: 0;
    height: 100vh;
    bottom: 0;
    width: 100vw;
    animation: slide-on 0.5s;
    display: block;
}

.sidebar-list p{
    padding: 12px 25px;
    font-weight: 400;
    color: #000;
    font-size: 22px;
}

.sidebar-list hr{
    color: #ffffff;
    background-color: #f3f3f3;
}

.back{
    display: flex;
    align-items: center;
}

.back img{
    width: 12px;
    height: 20px;
    rotate: 180deg;
    margin-left: 20px;
}

.side-link{
    text-decoration: none;

}


@media screen and (max-width:850px) {
    .menu-icon{
        display: block;
    }
    .nav-list{
        display: none;
    }
    .nav-icons{
        gap: 3vw;
    }
    a.active p{
        background-color: #000000;
        color:#fff;
    }
}

@keyframes slide-on{
    0%{
        left: 100vw;
        top: 0;

    }
    100%{
        top: 0;
        left: 0;
    }
}